# ----------------------------------------
# Compiled output and build directories
# ----------------------------------------
/dist
/tmp
/out-tsc
/bazel-out

# -----------------------------
# Node.js dependencies and logs
# -----------------------------
/node_modules
npm-debug.log
yarn-error.log

# -------------------------------
# IDEs and editor configurations
# -------------------------------
/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# ----------------------------------------
# Visual Studio Code settings and workspace
# ----------------------------------------
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# -----------------------------------
# Miscellaneous build/cache files
# -----------------------------------
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# -------------------------
# System and OS-specific files
# -------------------------
.DS_Store
Thumbs.db

# ---------------------------------------
# Environment Variables Files
# Ignore local environment variable files, including for development, test, and production.
# ---------------------------------------
/environments
.env
.env.development.local
.env.test.local
.env.production.local
.env.local