<div *ngIf="(isFinished$ | async) === false; else finished">
  <div *ngIf="currentQuestion$ | async as question">
    <h2>{{ question.title }}</h2>

    <div *ngIf="question.answers?.length; else noAnswers">
      <ul>
        <li *ngFor="let answer of question.answers">
          <button (click)="selectAnswer(question.uuid, answer.uuid)">
            {{ answer.text }}
          </button>
        </li>
      </ul>
    </div>

    <ng-template #noAnswers>
      <p>No answers available.</p>
    </ng-template>
  </div>
</div>

<ng-template #finished>
  <h3>Test Completed!</h3>
  <p>Thank you for completing the test.</p>
</ng-template>
