<div class="container">
  <div class="test-list">
    <app-test-badge *ngFor="let test of tests" [test]="test"></app-test-badge>
  </div>

  <div class="pagination">
    <button
      class="pagination-button"
      [disabled]="page === 1"
      (click)="onPageChange(page - 1)"
    >
      Попередня
    </button>
    <span>Сторінка {{ page }}</span>
    <button
      class="pagination-button"
      [disabled]="page * limit >= total"
      (click)="onPageChange(page + 1)"
    >
      Наступна
    </button>
  </div>
</div>