<div class="container">
  <nav class="navbar">
    <div class="navbar__group navbar__group--left">
      <div class="navbar__logo">
        <a routerLink="/home" routerLinkActive="active">
          <img
            src="../../../assets/logo.png"
            alt="Logo"
            style="width: 100%; height: 100%; object-fit: cover"
          />
        </a>
      </div>
    </div>

    <div class="navbar__group navbar__group--middle">
      <ul [class.open]="isMenuOpen" class="navbar__links">
        <li>
          <a routerLink="/me" routerLinkActive="active">
            <i class="fas fa-user"></i>
            <span>Профіль</span>
          </a>
        </li>
        <li>
          <a routerLink="/tests" routerLinkActive="active">
            <i class="fas fa-brain"></i>
            <span>Тести</span>
          </a>
        </li>
        <li>
          <a routerLink="/therapies" routerLinkActive="active">
            <i class="fas fa-spa"></i>
            <span>Терапії</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="navbar__group navbar__group--right">
      <div class="navbar__switchers">
        <app-theme-switcher />
      </div>
      <div class="navbar_toggle">
        <label class="bar" for="check">
          <input type="checkbox" id="check" (click)="toggleMenu()" />

          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </label>
      </div>
    </div>
  </nav>
</div>
